DJANGO_SETTINGS_MODULE = _config.settings
SECRET_KEY = vufx5@n=+x$&bn%o^&269qgpr=9*#3q!3+nv8fzou9($a7!_of
DEBUG = True

ACTIVATION_KEY_PERIODS_OF_VALIDITY = 30
PASSWORD_KEY_PERIODS_OF_VALIDITY = 30
ACCES_KEY_PERIODS_OF_VALIDITY = 10

FRONTEND_URL = localhost:8000/
FRONTEND_ACCOUNT_ACTIVATION_URL = activate
FRONTEND_ACCOUNT_PASSWORD_FORGOTTEN_URL = resetpassword

TEST_RECEIVER_MAIL = yourtestmail@mail.com
# SENDGRID_API_KEY= {YOUR SENDGRID API KEY}
SENDER_MAIL = email_from@mail.com
SEND_ACTIVATION_MAIL = TRUE
SEND_PASSWORD_FORGOTTEN_MAIL = True
SEND_EMAIL_CHANGE_NOTIFICATION_MAIL = True
